.namelabel{
 display: inline-block;
}
/* .uda{
    margin: 20px 0px;
    position: relative;
  height: 500px;
  
 background-color: aqua
}
.middle{
    position: absolute;
    bottom: 250px;
}
.yata{
    width: 80%;
    position: absolute;
  
    bottom: 10px;
   
} */
